.signup-page {
    width: 600px;
    height: 400px;
    padding: 3% 0 0;
    margin: auto;
}

.banner-signup{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 25px;
    min-width: 220px;
    max-width: 220px;
    background-color: #FFEB3B;
    align-items: center;
    border-radius: 10px 0 0 10px;
}
.logo-signup{
    max-width: 120px;
    height: auto;
    flex: 1;
}
.main-signup{
    background-color: #fff;
    min-height: 400px;
    display: flex;
    position: relative;
    min-width: 600px;
    margin: 0 auto 100px;
    -webkit-box-shadow: 1px 0px 35px 7px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 0px 35px 7px rgba(0,0,0,0.22);
    box-shadow: 1px 0px 35px 7px rgba(0,0,0,0.22);
    border-radius: 10px
}

.form-signup {
    padding: 45px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-signup{
    font-family: 'Rubik-Bold' !important;
    font-size: 42px;
}

.input-signup {
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form-signup button {
    outline: none;
    text-transform: capitalize;
    font-size: 14px;
    border-radius: 5px;
    width :30%;
    margin-top:1rem;
    /*text-transform: uppercase;*/
    /*outline: 0;*/
    /*background: #4CAF50;*/
    /*width: 100%;*/
    /*border: 0;*/
    /*padding: 15px;*/
    /*color: #FFFFFF;*/
    /*font-size: 14px;*/
    /*-webkit-transition: all 0.3 ease;*/
    /*transition: all 0.3 ease;*/
    /*cursor: pointer;*/
}

.signup-form{
    margin-top:20px;
}

.message-signup {
    margin: 20px 0 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form-signup .message-signup a {
    color: #4CAF50;
}

.form-signup .register-form {
    display: none;
}

.button{
    outline: none;
    text-Transform: capitalize;
    font-family: "Rubik-Light", sans-serif;
    font-size: 14px;
    border-radius: 2px;
    max-width:15%;
    margin-right:1rem;
    padding:0.6rem;
}

body {
    background: url('/images/BG.svg');
}